/*
* Abby Press
* december 11, 2017 
* tree kangaroo 
*/


/* The universal selector */


body {font-family: Arial, Helvetica, sanc-serif;
		background-color: lightpink;
		 font-size: 95%;
		 width: 950px; 
		 margin: auto; }
		 
header {
	border-bottom: 3px solid red;
}

p {background-color: lightpink;
	color: darkblue;
	font-size: 95%;}
	
h1 {font-family: "apple chancery", cursive;
		font-size: 180%;
		background-color: lightpink; }
			
h2 { font-family: "apple chancery", cursive;
		font-size: 130%;
			background-color: lightpink;			
			clear: left;}
			
/* if you click on the links they bring you to a website, and when you hover the mouse 
on them they become larger*/
a:link {
		color: blue;}
a:hover, a:focus {
	color: fuchsia; 
	font-size: 130%;}
	
footer { 
   color:red; 
   border-top:2px solid red;
   font-size: 60%; }
	
 
img {float: left; width:400px; height:200px; }

.square { height:175px; width:175px; }